@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:'Cursed Timer ULiL';
    src: url(scoreFonts.ttf) format("truetype");
}

body{
    font-family: 'Montserrat', sans-serif;
    background: #1B244A;
    
}

.main-container{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2em;
    height: 95vh; 
}

button{
     width: 25%;
     height: 10vh;
     margin: 4px;
     font-family:'Cursed Timer ULiL';
     box-shadow: 0 0 5px wheat;
     cursor: pointer;
    font-size: 1.8rem;
    border-radius: 5px;
}
/* home team design */
.home-team{
    flex-basis: 50%;
    /* border: 2px solid white; */
    justify-content: center;
    
}
.home-team > h1{
    font-size: 4rem;
    color: white;
}
.home-team .home-team-screen{
    display: flex;
    justify-content: center;
}
.home-team .home-black-screen{
    /* border: 1px solid white; */
    margin: 2em ;
    width: 80%;
    height: 30vh;
    background-color: black;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Cursed Timer ULiL';
    
    
}
.home-black-screen > p{
    font-size: 7rem;
}
.home-team .home-buttons{
   
    display: flex;
    justify-content: center;
}
.home-btn1{
    background-color: #f4acb9 ;
}
.home-btn2{
    background-color: rgba(250, 250, 21, 0.797);
}
.home-btn3{
    background-color: rgb(102, 255, 0);
}


/* guest team design */
.guest-team{
    flex-basis: 50%;
    /* border: 2px solid white; */
}
.guest-team > h1{
    font-size: 4rem;
    color: white;
}
.guest-team .guest-black-screen{
    /* border: 1px solid white; */
    margin: 2em ;
    width: 80%;
    height: 30vh;
    background-color: black;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Cursed Timer ULiL';
}
.guest-team .guest-team-screen{
    display: flex;
    justify-content: center;
}
.guest-black-screen > p{
    font-size: 7rem;
}
.guest-team .guest-buttons{
    display: flex;
    justify-content: center;
}
.guest-btn1{
    background-color: #f4acb9 ;
}
.guest-btn2{
    background-color: rgba(250, 250, 21, 0.797);
}
.guest-btn3{
    background-color: rgb(102, 255, 0);
}




.reset{
    position: absolute;
    top: 75%;
    background-color: rgb(96, 3, 3);
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border-radius: 10px;
}


@media (min-width:984px) {
    .home-team .home-black-screen{
        height: 40vh; 
    }
    .guest-team .guest-black-screen{
        height: 40vh;

    }
    .reset{
        top: 87%;
    }
    .home-black-screen > p{
        font-size: 7rem;
    }
    .guest-black-screen > p{
        font-size: 7rem;
    }
}

@media (max-width:500px) {
    
    .home-team .home-black-screen{
        
        height: 15vh; 
        margin-top: 3em;
    }
    .guest-team .guest-black-screen{
        height: 15vh;
        margin-top: 3em;

    }
    .home-team > h1{
        font-size: 3rem;
        
    }
    .guest-team > h1{
        font-size: 3rem;
        
    }
    .reset{
        top: 60%;
        font-size: 1.2rem;
    }
    button{
        width: 20%;
        height: 4vh;
        margin: 4px;
        font-family:'Cursed Timer ULiL';
        box-shadow: 0 0 5px wheat;
        cursor: pointer;
       font-size: 1.1rem;
       border-radius: 5px;
   }
   .home-black-screen >p{
    font-size: 4rem;
   }
   .guest-black-screen > p{
    font-size: 4rem;
    }
    .main-container{
        margin-top: 3em ;
    }
}